<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h2 class="intro-text text-center">
          <a id="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
          <a href="bedroom.html">Bedroom</a>
          <a id="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </h2>
        <hr>
      </div>
        <div class="col-md-6">
          <img id="productImage" class = "img-responsive product-img shadow" src="<%= @product.image %>">
        </div>
        <div class="col-md-6 text-center">
          <h2><%= @product.name %></h2>
          <p><%= @product.description %></p>
          <ul class="text-left product-ul">
            <!-- add bullets here  -->
          </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="box alsoView">
      <h3 class="text-center">People also viewed</h3>
      <% Product.all.length > 4? t = 4 : t = Product.all.length - 1%>
      <% t.times do |time| %>
      <div class="col-sm-3">
        <%= link_to(product_path(Product.find(@product.id))) do %>
          <% image_tag Product.find(@product.id).image, class: 'img-responsive' %>
        <% end %>
      </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
